@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@200&family=Open+Sans&display=swap');
:root {
  --background: #fcfcfc;
  --main-text: #212121;
  --settings-grey: rgba(33, 33, 33, 0.8);
  --modal-background: rgba(0, 0, 0, 0.05);
  --box-shadow: rgba(0, 0, 0, 0.08);
  --selected-button: rgba(33, 115, 242, 1);
  --unselected-button: rgba(248, 248, 248, 1);
  --modal-underline: rgba(33, 33, 33, 0.1);
}

[data-theme='dark'] {
  --background: rgba(32, 32, 32, 1);
  --main-text: #fcfcfc;
  --settings-grey: rgba(252, 252, 252, 0.75);
  --modal-underline: rgba(252, 252, 252, 0.1);
  --selected-button: rgba(7, 218, 197, 1);
  --modal-background: rgba(255, 255, 255, 0.05);
  --unselected-button: rgba(42, 42, 42, 1);
}

* {
  background-color: var(--background);
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

textarea {
  width: 55%;
  height: 50%;
  font-size: calc(0.4rem + 1vw);
  resize: none;
  border: none;
  outline: none;
  color: var(--main-text);
  white-space: pre-wrap;
  font-family: 'Merriweather', serif;
  line-height: calc(1.2rem + 1vw);
}

textarea::-webkit-scrollbar {
  display: none;
}

.settings-toggle {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  right: 0;
  padding: 1rem 1rem 0 0;
  font-size: 1.5rem;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
  color: var(--settings-grey);
  background-color: var(--background);
}

.settings-toggle:hover {
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
}

.settings-container {
  width: 100vw;
  height: 100vh;
  border-radius: 5px;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--modal-background);
  display: flex;
  border-radius: 10px;
  animation: fadein 0.3s;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  backdrop-filter: blur(2px);
}

.visible-modal {
  pointer-events: auto;
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}

.settings-modal {
  font-family: 'Montserrat', sans-serif;
  width: 400px;
  height: 500px;
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 7px var(--box-shadow);
  -moz-box-shadow: 0 3px 7px var(--box-shadow);
  box-shadow: 0 3px 7px var(--box-shadow);
  background-color: var(--background);
  color: var(--main-text);
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.settings-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10%;
  border-bottom: 1px solid var(--modal-underline);
}

.settings-title h1 {
  color: var(--main-text);
  padding: 0 1rem;
  font-size: 1rem;
}

.settings-title button {
  color: var(--main-text);
  border: none;
  outline: none;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
  background-color: var(--background);
}

.settings-title button:hover {
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
}

.settings-options {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 75%;
  border-bottom: 1px solid var(--modal-underline);
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.option-button {
  width: 45%;
  height: 40px;
  border-radius: 10px;
  background-color: var(--unselected-button);
  border: 2px solid var(--unselected-button);
  color: var(--settings-grey);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.option-button:hover {
  opacity: 0.8;
}

.option-button-selected {
  background-color: var(--background);
  border: 2px solid var(--selected-button);
  color: var(--main-text);
  transition: all 0.2s ease-in-out;
}

.settings-buttons {
  padding: 1rem 0;
}

.export {
  width: 100%;
  height: 45px;
  background-color: var(--selected-button);
  color: white;
  font-size: 1.05rem;
}
